 <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			CV Pablo web
		</title>
        <meta name="author" content="Pablo Hernandez">
        <meta name="description" content="En esta página web se muestra el contenido de la experiencia profesional del estudiante Pablo Hernandez">

        <meta name="keywords" content="cv, student, developer">
	</head>
	<body>
        <h1>
            Biografía
        </h1>

        <a href="../mppw.html">Home</a>

        <article>
            <p>
                Google
            </p>
            <blockquote cite="https://www.google.com">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore culpa alias porro, sed, aliquid ea totam corporis repellendus, atque iure voluptas consequuntur. Excepturi dolores explicabo iure autem inventore placeat recusandae?
            </blockquote>
        </article>
    </body>
</html>